{% extends 'base.html.twig' %}

{% block title %}Регистрация нового пользователя{% endblock %}

{% block body %}
    {{ include('components/navbar.html.twig') }}

    <div class="container">
        <h1>Регистрация пользователя</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="row d-flex justify-content-between align-items-center">
            <button class="btn btn-lg btn-primary mt-2" type="submit">Зарегистрироваться</button>
            <a class="btn btn-lg btn-secondary mt-2" href="{{ path('app_login') }}">Авторизация</a>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
